.imageUploadContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
}
.menuContainer {
    display: flex;
    gap: 1rem;
}

.mainCanvasArea {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainCanvasArea > .canvasContainer {
    width: 70vw;
    height: 70vh;
}

.stencilContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.stencilContainer img {
    width: 45px;
    padding: 1rem;
}

.stencilContainer button {
    width: 75px;
}